<h1>ini adalah halaman detil</h1>


<div class="container">
    <div class="row">
        <div class="col"><h3>detil contact</h3></div>
    </div>
    <div class="row">
        <div class="col">

            <% if (!mahasiswa) { %>
                <div class="alert alert-info" role="alert">
                    tidak ada mahasiswa bernama <%= nama  %>  <a href="/contact" class="alert-link">Kembali kehalaman contact</a>
                  </div>
            <% }else{ %>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title"><%= mahasiswa.nama %> </h5>
                      <p class="card-text"><%= mahasiswa.email %> </p>
                      <p class="card-text"><%= mahasiswa.noHP %> </p>


                      <a href="/contact/update/<%= mahasiswa.nama %>" 
                        class="btn btn-info bedge"  >Update</a>
                      <a href="/contact/delete/<%= mahasiswa.nama %>" 
                        class="btn btn-danger bedge" onclick="return confirm('yakin?')"  >Delete</a>
                        <a href="/contact" class="card-link d-block mt-3">Kembali ke daftar contact</a>
                        
                    </div>
                  </div>
            <% } %> 

        </div>
    </div>
</div>

